<div class="flex w-full items-center justify-between">

    <ul class="flex gap-[30px] items-center">
        @for (item of itemLink; track $index) {
            <app-itemsRouter
                [item]="item"
                additionalCSS=" font-extrabold {{item?.name == 'Sign Up' ? '  bg-primaryCyan rounded-full text-white hover:opacity-50 transition-opacity px-[25px] py-[10px] ' : ' text-tertiaryGray hover:text-black '}} "
            />
        }
    </ul>

    <ul class="flex gap-[30px] items-center">
        @for (item of itemLogin; track $index) {
            <app-itemsRouter
                [item]="item"
                additionalCSS=" font-extrabold {{item?.name == 'Sign Up' ? '  bg-primaryCyan rounded-full text-white hover:opacity-50 transition-opacity px-[25px] py-[10px] ' : ' text-tertiaryGray hover:text-black '}} "
            />
        }
    </ul>
    
</div>