/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', sans-serif, normal;   
    outline: none;
    border: none;
    appearance: none;
    /* transition: all .5s ease; */
  }

  ::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    height: 80px;
    background-color: rgba(100%, 100%, 100%, 100%);
  }
  
  html.dark ::-webkit-scrollbar-thumb {
    background-color: hsl(207, 26%, 17%);
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
}

@layer components {
  
}

@layer utilities {
  .svgHover:hover path {
    @apply fill-primaryCyan
  }

  .shorten {
    @apply bg-primaryViolet rounded-lg bg-shortenDesktop bg-no-repeat bg-left-top bg-cover
  }

  .boost {
    @apply bg-primaryViolet bg-boostDesktop bg-no-repeat bg-left-top bg-cover
  }
}
